{% load static %}

<div
    role="geojson-map"
    class="shadow shadow-black/20 rounded overflow-hidden w-11/12 mx-auto"
>
    <div role="map" style="height: 600px;" class="border border-black/20 border-b-0"></div>

    <div class="relative" role="editor">
        <textarea
            name="{{ widget.name }}"
            spellcheck="false">{% if widget.value %}{{ widget.value }}{% endif %}
        </textarea>
        
        <pre class="line-numbers"><code class="language-json"></code></pre>
    </div>


    <div class="flex items-center gap-4 mx-auto p-2">
        <button role="prettify" type="button" class="btn btn-red">
            Estender
        </button>

        <button role="compress" type="button" class="btn btn-blue">
            Comprimir
        </button>

        <button role="apply" type="button" class="btn btn-green ml-auto">
            Aplicar
        </button>
    </div>
</div>